/* App.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  
}

.app-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-list-container {
  flex: 1;
  margin: 0 10px;
}

.task-list {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-list h2 {
  color: #333;
  margin-bottom: 10px;
}

.task {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.task:hover {
  background-color: #f0f0f0;
}

.task-title {
  flex-grow: 1;
}

.task-actions {
  margin-left: 10px;
}

.add-task-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.add-task-container button{
  margin: 12px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 1;
}

button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.excel-export-button {
  margin-top: 20px;
  text-align: center;
}

.excel-export-button button {
  background-color: #2196f3;
}

.excel-export-button button:hover {
  background-color: #0d8bf2;
}

/* Add any additional styles as needed */
